<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>

<div class="jumbotron center">
	<h1>I am all about social entrepreneurship, startup culture, and big data.</h1>
	<p>Blah blah </p>
	<a class = "btn btn-default">Watch now! </a>
	<a class = "btn btn-info">Twitter </a>
</div>